@import '../../../../styles/variables.scss';

.days{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  background-color: $color-panel-bg;
  border-radius: $border-radius-panel;
  box-shadow: $effect-shadow;
}