@import '../../../../styles/variables.scss';

.thisDayInfo{
  display: flex;
  flex-direction: column;
  gap: 26px;
  border-radius: var(--border-radius-panel);
  padding: 35px 32px;
  background-image: url('/cloud.png');
  background-repeat: no-repeat;
  background-position: top right;
  background-color: var(--color-panel-bg);
  box-shadow: var(--effect-shadow);
}